@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General ********************************************************************/
* {
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Header *********************************************************************/
header {
    padding: 0 15vw;

    background-color: #1F2937;

    color: white;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: 16px 0;
}

.nav-links {
    display: flex;
    gap: 32px;
    /* justify-content: ce; */

    list-style-type: none;
}

.nav-links > li > a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.nav-links > li > a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;

    color: #F9F8F8;
    font-size: 24px;
}

.hero {
    display: flex;
    flex: 1;

    padding: 180px 0;
}

.hero > * {
    flex: 1;
}

.hero-text-heading {
    margin: 0;

    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text-body {
    font-size: 18px;
}

.hero-text-button {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 32px;

    background-color: #3882F6;

    color: white;
    font-weight: 600;
}

.hero-image > img {
    display: block;

    margin: 0 auto;
    width: 400px;
}

/* Main ***********************************************************************/

/* Information */
.information {
    padding: 24px 0 72px;
}

.information > h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.examples {
    display: flex;
    justify-content: center;
    gap: 48px;

    padding: 24px 0;
}

.example {
    width: 200px;
}

.example-image {
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.example-body {
    text-align: center;
}

/* Quote */
.quote {
    padding: 144px 448px;

    background-color: #E5E7EB;
}

.quote-body {
    margin: 0;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

/* Call To Action */

/* Footer *********************************************************************/
